@import url(http://fonts.googleapis.com/css?family=Oswald:700);
@import url(http://fonts.googleapis.com/css?family=Fjalla+One);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400italic);
@import url(http://fonts.googleapis.com/css?family=Lora:700);
@import url(http://fonts.googleapis.com/css?family=Lato:900,300,400);
@import url(http://fonts.googleapis.com/css?family=Karma:300);
@import url(http://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300);
@import url(http://fonts.googleapis.com/css?family=Martel:200);
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100);
header{position:relative;top:10px;left:30px;width:1220px;height:160px;border-bottom:15px solid black;}
header h1{font-family: 'Fjalla One', sans-serif;font-size:130px;color:#070C0D;position:absolute;top:20px;width:320px;border-right:1px solid black;text-align:center;}
h1 a:hover {color: #626566;}
h4{color: #20A9FF;font-family: 'Lora', serif;font-style:italic;font-size:15px;position:absolute;top:40px;left:340px;border-bottom:1px solid black;height:40px;width:520px;}
header li>a{color:#7F9499;font-family: 'Lora', serif;font-style:bold;font-size:22px}
header p{color:#7F9499;font-family: 'Fjalla One', sans-serif;font-size:12px}
header li a:hover{color:white;}
header p:hover{color:white;}
#facebook {border-left:1px solid black;border-right:1px dotted #7F9499;height:50px;width:150px;padding-top:40px;padding-bottom:40px;padding-right:15px;padding-left:10px;position:absolute;top:20px;left:880px;text-align:right;}
#twitter {height:50px;width:150px;padding-top:40px;padding-bottom:40px;padding-right:10px;padding-left:15px;position:absolute;top:20px;left:1055px;text-align:left;}
nav{position:absolute;top:100px;left:370px;width:500px;height:80px;padding-top:35px;font-family: 'Fjalla One', sans-serif;font-size: 17px;color: #070C0D;}
nav li{float:left;padding-right:15px;}
/*nav li{position:absolute;top:80px;left:340px;padding-top:35px;float:left;}*/
.black a:hover{color:#20A9FF;}
.black p{font-weight:bold;}
.black p:hover{color:#20A9FF;}
#blue a{color: #20A9FF;}
#blue a:hover{color:#070C0D;}
article{position:relative;top:50px;left:30px;width:1220px;height:1000px;}
article h2{position:absolute;top:10px;left:50px;width:350px;height:100px;font-family: 'Montserrat', sans-serif;font-size: 45px;font-style: bold;color:black;}
article h2:hover {color:#F3085B}
article h3{line-height:40px;position:absolute;top:120px;left:50px;width:350px;text-align:left;color:black;font-family: 'Martel', serif;font-size: 30px;}
article span{color:#637A80;font-family: 'Playfair Display', serif;font-style:italic;font-size:30px;}
article p{color:#F3085B;font-family: 'Playfair Display', serif;font-style:italic;font-size:30px;}
article p:hover{color:#F78EB1;}
article img{position:absolute;top:10px;left:450px;}
article ul{position:absolute; top:30px;left:430px;width:200px;}
article li{background-color:white;text-align:center;float:left;margin-right:10px;padding:5px;border:1px solid black;font-size:17px;font-family: 'Fjalla One', sans-serif;color:black;}
article li:hover{background-color:black;}/*왜 글씨색은 안바뀌지?? ㅠㅠ*/
article li a:hover{color:white;}
footer{position:relative;top:10px;height:300px;background-color:black;font-family:'Lato', sans-serif;color:white;}
footer p{position:absolute;top:40px;left:100px;font-family: 'Lato', sans-serif;font-size:15px;font-weight:100;}/*Lato 100 thin쓰려면 어케해야함?? ㅜㅜㅜ*/
footer ul{position:absolute;top:40px;left:500px;width:600px;}
footer ul a{float:left;margin-right:15px;background-color:black;font-family:'Lato', sans-serif;color:white;font-size:15px;}
footer ul a:hover{text-decoration: underline;}
footer div ul{position:absolute;top:40px;left:1100px;width:100px;}
footer div a{float:left;margin-right:15px;background-color:black;font-family:'Lato', sans-serif;color:white;font-size:15px;}
